#profile{
  width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 3px solid orange;
  animation: float 3.5s ease-in-out infinite;
}
@keyframes float{
  0%, 100%{
    transform: translateY(20);
  }
  50%{
    transform: translateY(-20px);
  }
}
#div2{
  color: #ffffff;
}
#contat:hover{
  transition: 0.1 linear;
  transform: scale(1.1);
  transition: 300ms linear;
}
#hobbi:hover{
  transition: 0.1 linear;
  transform: scale(1.1);
  transition: 300ms linear;
}
#resum:hover{
  transition: 2.1 linear;
  transform: scale(1.1);
  transition: 300ms linear;
}
nav{
    font-family:monospace ;
    display: flex;
    justify-content: center;
}
#nav1{
    color: rgb(179, 245, 245);
    text-align: center;
    font-size:20px ;
    
}
#div1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(5, 4, 4);
    margin: -8px;
    padding: 30px 10px 6px;
    color: azure;
    font-size: 15px;
    text-align: center;
}

span a{
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-decoration: none;
}

body{
 background-color:rgb(231, 97, 20);
    
}
footer img{
  width: 40px;
  height: 40px;
  justify-content: center;
}
footer{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px;
}
footer a{
margin: 0px 30px;
}
.container{
  padding: 0px 50px;
}
nav a:hover{
  color: green;
}
#nome{
  font-size: larger;
  font-family:monospace;
}
section{
  text-align: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
}
#Nome{
  padding: 0px 60px;
}
#E-mail{
  padding: 0px 60px;
}
label{
  display:flex;
  text-align: center;
  flex-direction: column;
}
