#profile{
  width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 3px solid orange;
}
#div2{
  color: #ffffff;
}
nav{
    font-family:monospace ;
    display: flex;
    justify-content: center;
}
#nav1{
    color: rgb(179, 245, 245);
    text-align: center;
    font-size:20px ;
    
}
#div1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(5, 4, 4);
    margin: -8px;
    padding: 30px 10px 6px;
    color: azure;
    font-size: 15px;
    text-align: center;
}

span a{
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-decoration: none;
}

body{
 background-color:rgb(231, 97, 20);
    
}
footer img{
  width: 40px;
  height: 40px;
  justify-content: center;
}
footer{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px;
}
footer a{
margin: 0px 30px;
}
.container{
  padding: 0px 50px;
}
nav a:hover{
  color: green;
}
#nome{
  font-size: larger;
  font-family:monospace;
}